.topnav {
    background: $black;
    padding: 10px 0;
    text-align: center;

    p {
        @include font-size(12);
        color: $white;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 2rem;

    .header__logo {
        h1 {
            @include font-size(28);
            text-transform: uppercase;
            color: $black;

            &:hover {
                color: $primary;
            }
        }
    }

    .header__menu {
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }

        .header__menu--link {
            @include font-size(12);
            letter-spacing: 0.48px;
            position: relative;
            padding: 1rem 1.5rem;

            &::before {
                content: "";
                position: absolute;
                bottom: 0rem;
                left: 0;
                width: 100%;
                height: 3px;
                background: $primary;
                border-radius: 0.3rem;
                opacity: 0;
                transition: all 0.2s;
            }

            &:hover {
                color: $primary;

                &::before {
                    bottom: 0.5rem;
                    opacity: 1;
                }
            }
        }
    }

    .header__links {
        ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 1rem;
        }

        svg {
            width: 18px;

            .a {
                fill: none;
                stroke: #000;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-width: 1.667px;
                transition: all 0.2s;
            }

            &:hover {
                .a {
                    stroke: $primary;
                }
            }
        }
    }
}
