<aside class="filters">
    <div id="filter__season" class="filters__item filters__item--open">
        <div class="filters__item--head">
            <h4>Temporada</h4>
            <span></span>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="atemporal" id="atemporal" />
            <label for="atemporal">Atemporal</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="invierno18" id="invierno18" />
            <label for="invierno18">Invierno 18</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="invierno20" id="invierno20" />
            <label for="invierno20">Invierno 20</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="invierno21" id="invierno21" />
            <label for="invierno21">Invierno 21</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="verano19" id="verano19" />
            <label for="verano19">Verano 19</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="verano20" id="verano20" />
            <label for="verano20">Verano 20</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="verano21" id="verano21" />
            <label for="verano21">Verano 21</label>
        </div>
    </div>
    <div id="filter__material" class="filters__item">
        <div class="filters__item--head">
            <h4>Material</h4>
            <span></span>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="atemporal" id="atemporal" />
            <label for="atemporal">Atemporal</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="invierno18" id="invierno18" />
            <label for="invierno18">Invierno 18</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="invierno20" id="invierno20" />
            <label for="invierno20">Invierno 20</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="invierno21" id="invierno21" />
            <label for="invierno21">Invierno 21</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="verano19" id="verano19" />
            <label for="verano19">Verano 19</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="verano20" id="verano20" />
            <label for="verano20">Verano 20</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="verano21" id="verano21" />
            <label for="verano21">Verano 21</label>
        </div>
    </div>
    <div id="filter__categories" class="filters__item">
        <div class="filters__item--head">
            <h4>Categorias</h4>
            <span></span>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="atemporal" id="atemporal" />
            <label for="atemporal">Atemporal</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="invierno18" id="invierno18" />
            <label for="invierno18">Invierno 18</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="invierno20" id="invierno20" />
            <label for="invierno20">Invierno 20</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="invierno21" id="invierno21" />
            <label for="invierno21">Invierno 21</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="verano19" id="verano19" />
            <label for="verano19">Verano 19</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="verano20" id="verano20" />
            <label for="verano20">Verano 20</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="verano21" id="verano21" />
            <label for="verano21">Verano 21</label>
        </div>
    </div>
    <div id="filter__price" class="filters__item">
        <div class="filters__item--head">
            <h4>Precio</h4>
            <span></span>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="atemporal" id="atemporal" />
            <label for="atemporal">Atemporal</label>
        </div>
    </div>
    <div id="filter__color" class="filters__item">
        <div class="filters__item--head">
            <h4>Color</h4>
            <span></span>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="atemporal" id="atemporal" />
            <label for="atemporal">Atemporal</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="invierno18" id="invierno18" />
            <label for="invierno18">Invierno 18</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="invierno20" id="invierno20" />
            <label for="invierno20">Invierno 20</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="invierno21" id="invierno21" />
            <label for="invierno21">Invierno 21</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="verano19" id="verano19" />
            <label for="verano19">Verano 19</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="verano20" id="verano20" />
            <label for="verano20">Verano 20</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="verano21" id="verano21" />
            <label for="verano21">Verano 21</label>
        </div>
    </div>
    <div id="filter__discount" class="filters__item">
        <div class="filters__item--head">
            <h4>Descuento</h4>
            <span></span>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="atemporal" id="atemporal" />
            <label for="atemporal">Atemporal</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="invierno18" id="invierno18" />
            <label for="invierno18">Invierno 18</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="invierno20" id="invierno20" />
            <label for="invierno20">Invierno 20</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="invierno21" id="invierno21" />
            <label for="invierno21">Invierno 21</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="verano19" id="verano19" />
            <label for="verano19">Verano 19</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="verano20" id="verano20" />
            <label for="verano20">Verano 20</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="verano21" id="verano21" />
            <label for="verano21">Verano 21</label>
        </div>
    </div>
    <div id="filter__size" class="filters__item">
        <div class="filters__item--head">
            <h4>Talle</h4>
            <span></span>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="atemporal" id="atemporal" />
            <label for="atemporal">Atemporal</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="invierno18" id="invierno18" />
            <label for="invierno18">Invierno 18</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="invierno20" id="invierno20" />
            <label for="invierno20">Invierno 20</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="invierno21" id="invierno21" />
            <label for="invierno21">Invierno 21</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="verano19" id="verano19" />
            <label for="verano19">Verano 19</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="verano20" id="verano20" />
            <label for="verano20">Verano 20</label>
        </div>
        <div class="filters__item--group">
            <input type="checkbox" name="verano21" id="verano21" />
            <label for="verano21">Verano 21</label>
        </div>
    </div>
</aside>
