<div class="product">
    <a href="#productName">
        <div class="product__image">
            <img
                src="/images/Image-2.png"
                alt="product name"
                tile="product name"
            />
        </div>
        <div class="product__data">
            <h4 class="product__data--title">product name</h4>
            <div class="product__data--prices">
                <span
                    class="
                        product__data--prices-regular
                        product__data--prices-regular-striked
                    "
                >
                    $12334
                </span>
                <span
                    class="
                        product__data--prices-regular
                        product__data--prices-regular-special
                    "
                >
                    $1222
                </span>
            </div>
        </div>
    </a>
</div>
